In [1]:
import pandas as pd
import QUANTAXIS as qtx
from datetime import datetime, timedelta

In [2]:
raw = pd.read_csv("c:\\Users\\mUSicX\\Documents\\股票相关\\20200922SW.csv")
raw['c'] = raw.code.apply(lambda x: x[:6])
raw['mkt'] = raw.code.apply(lambda x: 0 if x.endswith('SZ') else 1)
raw['ind_cat1'] = raw.ind.apply(lambda x: x.split('--')[0])
raw['ind_cat2'] = raw.ind.apply(lambda x: '-'.join(x.split('--')[:2]))
#raw['ind_cat3'] = raw.ind.apply(lambda x: x.split('--')[2].replace('Ⅲ', ''))

#raw['ind_cat'] = raw.apply(lambda x: x.ind_cat1+'-'+x.ind_cat2, axis=1)
raw[:10]

        code           ind       c  mkt ind_cat1 ind_cat2
0  000009.SZ  综合--综合Ⅱ--综合Ⅲ  000009    0       综合   综合-综合Ⅱ
1  000409.SZ  综合--综合Ⅱ--综合Ⅲ  000409    0       综合   综合-综合Ⅱ
2  000632.SZ  综合--综合Ⅱ--综合Ⅲ  000632    0       综合   综合-综合Ⅱ
3  000638.SZ  综合--综合Ⅱ--综合Ⅲ  000638    0       综合   综合-综合Ⅱ
4  000652.SZ  综合--综合Ⅱ--综合Ⅲ  000652    0       综合   综合-综合Ⅱ
5  000839.SZ  综合--综合Ⅱ--综合Ⅲ  000839    0       综合   综合-综合Ⅱ
6  002967.SZ  综合--综合Ⅱ--综合Ⅲ  002967    0       综合   综合-综合Ⅱ
7  300012.SZ  综合--综合Ⅱ--综合Ⅲ  300012    0       综合   综合-综合Ⅱ
8  300688.SZ  综合--综合Ⅱ--综合Ⅲ  300688    0       综合   综合-综合Ⅱ
9  300797.SZ  综合--综合Ⅱ--综合Ⅲ  300797    0       综合   综合-综合Ⅱ

In [5]:
code_list = qtx.QA_fetch_stock_list()
finfo =  qtx.QA_fetch_stock_info(list(code_list.code))
fcnd = qtx.QA_fetch_stock_day_adv(list(code_list.code),
                                  start=(datetime.today()-timedelta(days=720)).strftime('%Y-%m-%d'), 
                                  end=datetime.today().strftime('%Y-%m-%d')).to_qfq()
fbase = fcnd.data.join(finfo.loc[finfo.ipo_date != 0, ['ipo_date','industry']], how='inner').reset_index()
fbase['ipodays'] = fbase.apply(lambda x: (x.date - datetime.strptime(str(x.ipo_date), '%Y%m%d')).days, axis=1)
fbase = fbase.set_index(['date', 'code']) 
fbase.head()

                        open       high        low      close     volume  \
date       code
2018-10-26 000001  10.980824  11.000277  10.659861  10.873837  1299975.0
           000002  21.986316  22.950709  21.754490  22.079046   729756.0
           000005   2.750000   2.870000   2.720000   2.730000   122434.0
           000006   4.730957   4.927690   4.721589   4.777798   246948.0
           000007   7.720000   8.110000   7.500000   7.700000   409332.0

                         amount       adj  ipo_date  industry  ipodays
date       code
2018-10-26 000001  1.448844e+09  0.972615  19910403         1    10068
           000002  1.754617e+09  0.927301  19910129        11    10132
           000005  3.391390e+07  1.000000  19901210        39    10182
           000006  1.269326e+08  0.936823  19920427        11     9678
           000007  3.215363e+08  1.000000  19920413        10     9692

In [41]:
def ma_lines(data, col, N):
    ma = data[col] - qtx.MA(data[col], N) 
    #ema = qtx.EMA(data[col], N) / data[col]
    #sma = qtx.SMA(data[col], N) / data[col]
    #ub = (ma + 2 * qtx.STD(data[col], N)) / data[col]
    #lb = qtx.MAX((ma - 2 * qtx.STD(data[col], N)), data['zero']) / data[col]
    #return pd.DataFrame({'MA': ma, 'EMA': ema, 'SMA': sma, 'UB': ub, 'LB': lb})
    return pd.DataFrame({'MA': ma})

In [42]:
ma=fcnd.add_func(ma_lines, col='close', N=20).loc[:, 'MA']
ma.head()

date        code
2018-10-26  000001   NaN
            000002   NaN
            000005   NaN
            000006   NaN
            000007   NaN
Name: MA, dtype: float64

In [43]:
fma = pd.merge(fbase, ma, on=['date', 'code']).reset_index()
fbk = pd.merge(fma.loc[fma.ipodays>60, ['date', 'code', 'MA']], raw.loc[:, ['c', 'ind_cat1']], left_on='code', right_on='c')
fbk.head()

        date    code  MA       c ind_cat1
0 2018-10-26  000001 NaN  000001       银行
1 2018-10-29  000001 NaN  000001       银行
2 2018-10-30  000001 NaN  000001       银行
3 2018-10-31  000001 NaN  000001       银行
4 2018-11-01  000001 NaN  000001       银行

In [44]:
bk_all = fbk.groupby(['ind_cat1', 'date'])['code'].count()
bk_high = fbk.loc[fbk.MA > 0, :].groupby(['ind_cat1', 'date'])['code'].count()
bk_rate = pd.concat([bk_high, bk_all], axis=1)
bk_rate.columns=['high', 'all']
bk_rate.reset_index(inplace=True)
bk_rate['rate'] = bk_rate['high'] / bk_rate['all']
bk_rate['rate'].fillna(0, inplace=True)
bk_rate.head(10)

  ind_cat1       date  high  all  rate
0     交通运输 2018-10-26   NaN  109   0.0
1     交通运输 2018-10-29   NaN  109   0.0
2     交通运输 2018-10-30   NaN  110   0.0
3     交通运输 2018-10-31   NaN  110   0.0
4     交通运输 2018-11-01   NaN  110   0.0
5     交通运输 2018-11-02   NaN  110   0.0
6     交通运输 2018-11-05   NaN  110   0.0
7     交通运输 2018-11-06   NaN  110   0.0
8     交通运输 2018-11-07   NaN  110   0.0
9     交通运输 2018-11-08   NaN  110   0.0

In [45]:
pvt= pd.pivot(bk_rate.loc[bk_rate['rate'] >=0, :], index='date', columns='ind_cat1', values='rate')
pvt.head()

ind_cat1,交通运输,休闲服务,传媒,公用事业,农林牧渔,化工,医药生物,商业贸易,国防军工,家用电器,...,纺织服装,综合,计算机,轻工制造,通信,采掘,钢铁,银行,非银金融,食品饮料
date,,,,,,,,,,,,,,,,,,,,,
2018-10-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-10-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-10-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-10-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-11-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
pvt.reset_index(inplace=True)
pvt['day']=pvt['date'].apply(lambda x: x.strftime('%Y-%m-%d'))
pvt.set_index('day', inplace=True)
pvt.drop(columns=['date'], inplace=True)
pvt.sort_index(ascending=False, inplace=True)
pvt.to_excel('market_breadth.xls')

In [37]:
pvt.set_index?