In [1]:
from quantax.data_query_advance import local_get_stock_day_adv, local_get_index_day_adv
import numpy as np
import pandas as pd
import datetime

In [2]:
code = '601985'
data = local_get_stock_day_adv(code, start=datetime.date(2019, 10, 1).strftime('%Y-%m-%d'),
                               end=datetime.datetime.today().strftime('%Y-%m-%d')).to_qfq()
data.data.head()

,,open,high,low,close,volume,amount,adj
date,code,,,,,,,
2019-10-08,601985,5.144971,5.193600,5.144971,5.164422,99532.0,52909320.0,0.972584
2019-10-09,601985,5.154697,5.193600,5.135245,5.183874,68873.0,36590752.0,0.972584
2019-10-10,601985,5.203326,5.213052,5.183874,5.203326,91089.0,48683564.0,0.972584
2019-10-11,601985,5.222778,5.242229,5.193600,5.232503,135918.0,72957928.0,0.972584
2019-10-14,601985,5.251955,5.271407,5.222778,5.232503,201217.0,108595640.0,0.972584

In [3]:
data.data.to_excel('c:\\Users\\mUSicX\\Desktop\\601985.xlsx')