In [20]:
from jqdatasdk import *
auth('15221518217', 'ZZKww021WW')

In [2]:
stock_list = ['000001.XSHE','000002.XSHE']
d = get_industry(security=stock_list, date="2018-06-01")
print(d)

{'000001.XSHE': {'sw_l1': {'industry_code': '801780', 'industry_name': '银行I'}, 'sw_l2': {'industry_code': '801192', 'industry_name': '银行II'}, 'sw_l3': {'industry_code': '851911', 'industry_name': '银行III'}, 'zjw': {'industry_code': 'J66', 'industry_name': '货币金融服务'}, 'jq_l2': {'industry_code': 'HY493', 'industry_name': '多元化银行指数'}, 'jq_l1': {'industry_code': 'HY007', 'industry_name': '金融指数'}}, '000002.XSHE': {'sw_l1': {'industry_code': '801180', 'industry_name': '房地产I'}, 'sw_l2': {'industry_code': '801181', 'industry_name': '房地产开发II'}, 'sw_l3': {'industry_code': '851811', 'industry_name': '房地产开发III'}, 'zjw': {'industry_code': 'K70', 'industry_name': '房地产业'}, 'jq_l2': {'industry_code': 'HY509', 'industry_name': '房地产开发指数'}, 'jq_l1': {'industry_code': 'HY011', 'industry_name': '房地产指数'}}}

In [3]:
d = get_industry(security=stock_list, date="2020-09-01")
print(d)

{'000001.XSHE': {'sw_l1': {'industry_code': '801780', 'industry_name': '银行I'}, 'sw_l2': {'industry_code': '801192', 'industry_name': '银行II'}, 'sw_l3': {'industry_code': '851911', 'industry_name': '银行III'}, 'zjw': {'industry_code': 'J66', 'industry_name': '货币金融服务'}, 'jq_l2': {'industry_code': 'HY493', 'industry_name': '多元化银行指数'}, 'jq_l1': {'industry_code': 'HY007', 'industry_name': '金融指数'}}, '000002.XSHE': {'sw_l1': {'industry_code': '801180', 'industry_name': '房地产I'}, 'sw_l2': {'industry_code': '801181', 'industry_name': '房地产开发II'}, 'sw_l3': {'industry_code': '851811', 'industry_name': '房地产开发III'}, 'zjw': {'industry_code': 'K70', 'industry_name': '房地产业'}, 'jq_l2': {'industry_code': 'HY509', 'industry_name': '房地产开发指数'}, 'jq_l1': {'industry_code': 'HY011', 'industry_name': '房地产指数'}}}

In [4]:
d = get_industry(security='600177.XSHG', date="2020-09-01")
print(d)

{'600177.XSHG': {'sw_l1': {'industry_code': '801180', 'industry_name': '房地产I'}, 'sw_l2': {'industry_code': '801181', 'industry_name': '房地产开发II'}, 'sw_l3': {'industry_code': '851811', 'industry_name': '房地产开发III'}, 'zjw': {'industry_code': 'C18', 'industry_name': '纺织服装、服饰业'}, 'jq_l2': {'industry_code': 'HY453', 'industry_name': '服装、服饰与奢侈品指数'}, 'jq_l1': {'industry_code': 'HY011', 'industry_name': '房地产指数'}}}

In [6]:
d = get_industry(security='600177.XSHG', date="2016-09-01")
print(d)

{'600177.XSHG': {'sw_l1': {'industry_code': '801130', 'industry_name': '纺织服装I'}, 'sw_l2': {'industry_code': '801132', 'industry_name': '服装家纺II'}, 'sw_l3': {'industry_code': '851322', 'industry_name': '男装III'}, 'zjw': {'industry_code': 'K70', 'industry_name': '房地产业'}, 'jq_l2': {'industry_code': 'HY509', 'industry_name': '房地产开发指数'}, 'jq_l1': {'industry_code': 'HY007', 'industry_name': '金融指数'}}}

In [7]:
q=query(finance.FUND_PORTFOLIO_STOCK).filter(finance.FUND_PORTFOLIO_STOCK.code=="000001").order_by(finance.FUND_PORTFOLIO_STOCK.pub_date.desc()).limit(10)
df=finance.run_query(q)
print(df)

         id    code period_start  period_end    pub_date  report_type_id  \
0  10700817  000001   2020-07-01  2020-09-30  2020-10-27          403003
1  10700808  000001   2020-07-01  2020-09-30  2020-10-27          403003
2  10700809  000001   2020-07-01  2020-09-30  2020-10-27          403003
3  10700810  000001   2020-07-01  2020-09-30  2020-10-27          403003
4  10700811  000001   2020-07-01  2020-09-30  2020-10-27          403003
5  10700812  000001   2020-07-01  2020-09-30  2020-10-27          403003
6  10700813  000001   2020-07-01  2020-09-30  2020-10-27          403003
7  10700814  000001   2020-07-01  2020-09-30  2020-10-27          403003
8  10700815  000001   2020-07-01  2020-09-30  2020-10-27          403003
9  10700816  000001   2020-07-01  2020-09-30  2020-10-27          403003

  report_type  rank  symbol  name      shares    market_cap  proportion
0        第三季度    10  002444  巨星科技   6576890.0  1.300909e+08        2.60
1        第三季度     1  002127  南极电商  22673610.0  3.913465e+08        7.84
2        第三季度     2  002013  中航机电  28100924.0  3.223176e+08        6.45
3        第三季度     3  601318  中国平安   3196526.0  2.437671e+08        4.88
4        第三季度     4  002271  东方雨虹   4069693.0  2.193565e+08        4.39
5        第三季度     5  300142  沃森生物   3751761.0  1.908896e+08        3.82
6        第三季度     6  600519  贵州茅台    111475.0  1.859960e+08        3.72
7        第三季度     7  000513  丽珠集团   3443820.0  1.694704e+08        3.39
8        第三季度     8  002475  立讯精密   2773748.0  1.584642e+08        3.17
9        第三季度     9  000858   五粮液    710101.0  1.569323e+08        3.14

In [9]:
# 获取因子Skewness60(个股收益的60日偏度)从 2017-01-01 至 2017-03-04 的因子值
factor_data = get_factor_values(securities=['000001.XSHE'], factors=['Skewness60','DEGM','quick_ratio'], start_date='2017-01-01', end_date='2017-03-04')
# 查看因子值
factor_data.head()

AttributeError: 'dict' object has no attribute 'head'

In [10]:
get_all_factors()

                         factor factor_intro   category category_intro
0    administration_expense_ttm      管理费用TTM     basics     基础科目及衍生类因子
1     asset_impairment_loss_ttm    资产减值损失TTM     basics     基础科目及衍生类因子
2      cash_flow_to_price_ratio       现金流市值比     basics     基础科目及衍生类因子
3        circulating_market_cap         流通市值     basics     基础科目及衍生类因子
4                          EBIT        息税前利润     basics     基础科目及衍生类因子
..                          ...          ...        ...            ...
254                       MAC20      20日移动均线  technical         技术指标因子
255                        MAC5       5日移动均线  technical         技术指标因子
256                       MAC60      60日移动均线  technical         技术指标因子
257                       MACDC    平滑异同移动平均线  technical         技术指标因子
258                       MFI14       资金流量指标  technical         技术指标因子

[259 rows x 4 columns]

In [11]:
get_concepts()

       name start_date
GN001  参股金融 2013-12-31
GN028  智能电网 2013-12-31
GN030   物联网 2013-12-31
GN031    重组 2013-12-31
GN032   迪士尼 2013-12-31
...     ...        ...
GN995  轨道交通 2017-10-30
GN996    钒钛 2017-10-30
GN997  液晶显示 2019-10-16
GN998    水泥 2020-03-03
GN999  染料涂料 2017-10-30

[832 rows x 2 columns]

In [12]:
get_concept_stocks('GN999', date='2019-10-10')

['000565.XSHE',
 '002010.XSHE',
 '002256.XSHE',
 '002361.XSHE',
 '002440.XSHE',
 '300067.XSHE',
 '300225.XSHE',
 '300522.XSHE',
 '300665.XSHE',
 '600352.XSHG',
 '600987.XSHG',
 '603188.XSHG',
 '603737.XSHG',
 '603980.XSHG']

In [1]:
import pymongo

In [2]:
client = pymongo.MongoClient("mongodb://localhost:27017/")

In [3]:
db = client['jqdata']

In [4]:
collection = db['industry']

In [5]:
collection.insert_many({'000001.XSHE': {'sw_l1': {'industry_code': '801780', 'industry_name': '银行I'}, 'sw_l2': {'industry_code': '801192', 'industry_name': '银行II'}, 'sw_l3': {'industry_code': '851911', 'industry_name': '银行III'}, 'zjw': {'industry_code': 'J66', 'industry_name': '货币金融服务'}, 'jq_l2': {'industry_code': 'HY493', 'industry_name': '多元化银行指数'}, 'jq_l1': {'industry_code': 'HY007', 'industry_name': '金融指数'}}, '000002.XSHE': {'sw_l1': {'industry_code': '801180', 'industry_name': '房地产I'}, 'sw_l2': {'industry_code': '801181', 'industry_name': '房地产开发II'}, 'sw_l3': {'industry_code': '851811', 'industry_name': '房地产开发III'}, 'zjw': {'industry_code': 'K70', 'industry_name': '房地产业'}, 'jq_l2': {'industry_code': 'HY509', 'industry_name': '房地产开发指数'}, 'jq_l1': {'industry_code': 'HY011', 'industry_name': '房地产指数'}}}
)

TypeError: document must be an instance of dict, bson.son.SON, bson.raw_bson.RawBSONDocument, or a type that inherits from collections.MutableMapping

In [8]:
sw_l1 = get_industries(name='sw_l1', date=None)
sw_l2 = get_industries(name='sw_l2', date=None)
sw_l3 = get_industries(name='sw_l3', date=None)
sw_l3

               name start_date
851731      高速公路III 2005-05-27
850942  其他交运设备服务III 2011-09-23
850231      其他采掘III 2005-05-27
850941      汽车服务III 2005-05-27
851631        燃气III 2005-05-27
...             ...        ...
850833      光学元件III 2011-09-23
850831      显示器件III 2005-05-27
851221     调味发酵品III 2005-05-27
851222        乳品III 2005-05-27
857221      装修装饰III 2014-02-21

[268 rows x 2 columns]

In [10]:
sw_l2

             name start_date
801744     船舶制造II 2014-02-21
801742     航空装备II 2014-02-21
801743     地面兵装II 2014-02-21
801741     航天装备II 2014-02-21
801024     采掘服务II 2011-09-23
...           ...        ...
801153     医疗器械II 2005-05-27
801152     生物制品II 2005-05-27
801151     化学制药II 2005-05-27
801732  电气自动化设备II 2014-02-21
801734    高低压设备II 2014-02-21

[116 rows x 2 columns]

In [11]:
dates= get_trade_days(start_date='2004-02-10')

In [12]:
dates

array([datetime.date(2005, 1, 4), datetime.date(2005, 1, 5),
       datetime.date(2005, 1, 6), ..., datetime.date(2021, 1, 4),
       datetime.date(2021, 1, 5), datetime.date(2021, 1, 6)], dtype=object)

In [13]:
stocks = get_industry_stocks('801744', date='2015-01-05')
stocks

['002608.XSHE',
 '300008.XSHE',
 '300123.XSHE',
 '600072.XSHG',
 '600150.XSHG',
 '600685.XSHG',
 '601890.XSHG',
 '601989.XSHG']

In [18]:
for code, name, time in sw_l1.to_records():
    print('{}, {}, {}'.format(code, name, time))

801740, 国防军工I, 2014-02-21T00:00:00.000000000
801020, 采掘I, 2004-02-10T00:00:00.000000000
801110, 家用电器I, 2004-02-10T00:00:00.000000000
801160, 公用事业I, 2004-02-10T00:00:00.000000000
801060, 建筑建材I, 2004-02-10T00:00:00.000000000
801770, 通信I, 2014-02-21T00:00:00.000000000
801010, 农林牧渔I, 2004-02-09T00:00:00.000000000
801120, 食品饮料I, 2004-02-10T00:00:00.000000000
801750, 计算机I, 2014-02-21T00:00:00.000000000
801050, 有色金属I, 2004-02-10T00:00:00.000000000
801890, 机械设备I, 2014-02-21T00:00:00.000000000
801170, 交通运输I, 2004-02-10T00:00:00.000000000
801090, 交运设备I, 2004-02-10T00:00:00.000000000
801710, 建筑材料I, 2014-02-21T00:00:00.000000000
801780, 银行I, 2014-02-21T00:00:00.000000000
801040, 钢铁I, 2004-02-10T00:00:00.000000000
801130, 纺织服装I, 2004-02-10T00:00:00.000000000
801880, 汽车I, 2014-02-21T00:00:00.000000000
801180, 房地产I, 2004-02-10T00:00:00.000000000
801230, 综合I, 2004-02-10T00:00:00.000000000
801220, 信息服务I, 2004-02-10T00:00:00.000000000
801760, 传媒I, 2014-02-21T00:00:00.000000000
801200, 商业贸易I, 2004-02-10T00:00:00.000000000
801140, 轻工制造I, 2004-02-10T00:00:00.000000000
801720, 建筑装饰I, 2014-02-21T00:00:00.000000000
801080, 电子I, 2004-02-10T00:00:00.000000000
801790, 非银金融I, 2014-02-21T00:00:00.000000000
801030, 化工I, 2004-02-10T00:00:00.000000000
801100, 信息设备I, 2004-02-10T00:00:00.000000000
801190, 金融服务I, 2004-02-10T00:00:00.000000000
801210, 休闲服务I, 2004-02-10T00:00:00.000000000
801730, 电气设备I, 2014-02-21T00:00:00.000000000
801070, 机械设备I, 2004-02-10T00:00:00.000000000
801150, 医药生物I, 2004-02-10T00:00:00.000000000

In [21]:
stocks = get_industry_stocks('801744', date='2001-01-05')
stocks

[]

In [22]:
import time

In [23]:
time.mktime(time.strptime('2020-01-05', '%Y-%m-%d'))

1578153600.0

In [24]:
time.mktime?

In [1]:
import datetime as dt
import pandas as pd

In [2]:
end = pd.Timestamp('2020-03-01 12:00:00')
start = pd.Timestamp('2020-02-01 12:00:00')

In [4]:
(end - start).days

29

In [6]:
pd.Timestamp(dt.date.today())

Timestamp('2021-03-03 00:00:00')